{% extends "main/base.html" %}

{% block title %} Login {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-contact1">
<form method="POST" class="form-group">
    {% csrf_token %}
    
    {{form|crispy}}
    <span class="shadow-input1"></span>
    <p> Don't have an account? Create one <a href="/register">here</a></p>
    <div class="container-contact1-form-btn">
        <button class="contact1-form-btn", type="submit">
         Login
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    
        </button>
    
    </div>

    </form>
</div>
{% endblock %}