  
.container-contact1{
        width:1163px;
        border-radius:10px;
        overflow:hidden;
        display:-webkit-box;
        display:-webkit-flex;
        display:-moz-box;
        display:-ms-flexbox;
        display:flex;
        margin: auto;
        flex-wrap:wrap;
        justify-content:space-evenly;
        align-items:center;
        border-color: #666666;
        padding:90px 130px 88px 148px}
        
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Montserrat-Regular;
    src: url('fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('fonts/montserrat/Montserrat-ExtraBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('fonts/montserrat/Montserrat-Medium.ttf'); 
  }

  /*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

.container-contact1 body, .container-contact1 html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
}

/*---------------------------------------------*/
.container-contact1 a {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.container-contact1 a:focus {
	outline: none !important;
}

.container-contact1 a:hover {
	text-decoration: none;
	color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

.container-contact1 p {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
  border: none;
}

input:hover {
  background: #444444;
}

textarea {
  outline: none;
  border: none;
}

textarea:hover {
  background: #444444;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
  margin: auto;
  display:inline-block;
  }

.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #ffffff;
  line-height: 0.5;
  text-align: center;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

.shadow-input1 {
  border-radius: 25px;
}
textarea.input1 {
  min-height: 100px;
  border-radius: 25px;
  padding: 12px 25px;
}

/*---------------------------------------------*/

.input1 {
  display: block;
  width: 100%;
  background: #2e2d2d;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  
}

.container-contact1::before,
.container-contact1::after {
  content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 100%;
    width: calc(50px + 4px);
    height: calc(100px + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

.container-contact1 {
  -webkit-animation: animate 20s linear infinite;
  animation: animate 20s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0 0;
}
50% {
    background-position: 300% 0;
}
100% {
    background-position: 0 0;
}
}

@keyframes animate {
  0% {
    background-position: 0 0;
}
50% {
    background-position: 300% 0;
}
100% {
    background-position: 0 0;
}
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  row-gap: 10px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
    margin: auto;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
    margin: auto;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
    margin: auto;
  }
}


