{% extends "main/base.html" %}

{% block title %} About{% endblock %}

{% block content %}
<div class="container21">
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center">  
         <h4 class="title">ABOUT</h4>
         <hr class="line mb-5" color="WHITE">
         <p class="main-text">
            As a highly motivated and skilled data analyst with experience in healthcare data analysis in the UK, I am passionate about using data to drive better patient
            outcomes.
            <br>
            I am proficient in using Power BI, web scraping, and Excel to gather and analyze data, develop visualizations, and generate reports that provide actionable insights.
             In fact, I have a dedicated section where I showcase my skills and experience in using these tools to provide data-driven solutions to various
              business problems.
            <br>
            I have experience in working with healthcare data, such as patient records, and have developed insights that inform clinical decision-making. Additionally, I have worked
             on projects that involve data collection and analysis for quality improvement initiatives, such as directionality of company consultant search. My experience in data visualization,
              dashboard development, and report generation would be a valuable asset to any team.
            <br>
            I am committed to leveraging data-driven insights to improve patient outcomes, and I believe that my skills and expertise can help organizations achieve this goal.
            Thank you for taking the time to learn more about me.
            <br>
            <br>
            <br>
            Please feel free to reach out if you have any questions or if you would like to discuss potential opportunities.
        
         </p>
     
         


     
     
     
        </div>      
    </div> 
</div>

{% endblock %}