{% extends "main/base.html" %}

{% block title %} {% endblock %}


{% block content %}

       
    <section class="properties new-arrival fix">
    <div class="container">
    
    <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-10">
    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
    <h2>Popular products</h2>
    <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-xl-12">
    <div class="properties__button text-center">
    
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-ModelsK-tab" data-toggle="tab" href="#nav-ModelsK" role="tab" aria-controls="nav-ModelsK" aria-selected="true">Model Kits</a>
    <a class="nav-item nav-link" id="nav-Lego-tab" data-toggle="tab" href="#nav-Lego" role="tab" aria-controls="nav-Lego" aria-selected="false">Lego</a>
    <a class="nav-item nav-link" id="nav-Chair-tab" data-toggle="tab" href="#nav-Chair" role="tab" aria-controls="nav-Chair" aria-selected="false">Non-Lego</a>
    <a class="nav-item nav-link" id="nav-Bed-tab" data-toggle="tab" href="#nav-Bed" role="tab" aria-controls="nav-Bed" aria-selected="false">Tools</a>
    <a class="nav-item nav-link" id="nav-Lightning-tab" data-toggle="tab" href="#nav-Lightning" role="tab" aria-controls="nav-Lightning" aria-selected="false">Acessories</a>
    <a class="nav-item nav-link" id="nav-Decore-tab" data-toggle="tab" href="#nav-Decore" role="tab" aria-controls="nav-Decore" aria-selected="false">Other</a>
    </div>
    </nav>
    
    </div>
    </div>
    </div>
    <div class="row">
    
    <div class="tab-content" id="nav-tabContent">
    
    <div class="tab-pane fade show active" id="nav-ModelsK" role="tabpanel" aria-labelledby="nav-ModelsK-tab">
    <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="single-new-arrival mb-50 text-center">
    <div class="popular-img">
    <img src="assets/img/gallery/xpopular1.png.pagespeed.ic.6iGJeF-TD9.webp" alt="" data-pagespeed-url-hash="3041166571" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="popular-caption">
    <h3><a href="product_details.html">Model Kit 1</a></h3>
    <span>$367</span>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="single-new-arrival mb-50 text-center">
    <div class="popular-img">
    <img src="assets/img/gallery/xpopular2.png.pagespeed.ic.LwXSxX0gLi.webp" alt="" data-pagespeed-url-hash="3335666492" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="popular-caption">
    <h3><a href="product_details.html">Model Kit 2</a></h3>
    <span>$367</span>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-new-arrival mb-50 text-center">
        <div class="popular-img">
        <img src="assets/img/gallery/xpopular2.png.pagespeed.ic.LwXSxX0gLi.webp" alt="" data-pagespeed-url-hash="3335666492" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        <div class="popular-caption">
        <h3><a href="product_details.html">Model Kit 3</a></h3>
        <span>$367</span>
        </div>
        </div>
        </div>

        <div class="tab-pane fade show active" id="nav-ModelsK" role="tabpanel" aria-labelledby="nav-ModelsK-tab">
            <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="single-new-arrival mb-50 text-center">
    <div class="popular-img">
    <img src="assets/img/gallery/xpopular1.png.pagespeed.ic.6iGJeF-TD9.webp" alt="" data-pagespeed-url-hash="3041166571" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="popular-caption">
    <h3><a href="product_details.html">Lego Kit 4</a></h3>
    <span>$367</span>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="single-new-arrival mb-50 text-center">
    <div class="popular-img">
    <img src="assets/img/gallery/xpopular2.png.pagespeed.ic.LwXSxX0gLi.webp" alt="" data-pagespeed-url-hash="3335666492" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="popular-caption">
    <h3><a href="product_details.html">Lego Kit 5</a></h3>
    <span>$367</span>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="single-new-arrival mb-50 text-center">
    <div class="popular-img">
    <img src="assets/img/gallery/xpopular2.png.pagespeed.ic.LwXSxX0gLi.webp" alt="" data-pagespeed-url-hash="3335666492" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="popular-caption">
    <h3><a href="product_details.html">Lego Kit 6</a></h3>
    <span>$367</span>
    </div>
    </div>
    </div>

    
        

{% endblock %}