{% extends "main/base.html" %}

{% block title %} Dani {% endblock %}

{% block content %}
<div id="cover">        
   <div class="jumbotron jumbotron-fluid">
    <div class="container1 mb-5">
      <h1 class="title display-3 text-center" style="font-weight:100;">
      <strong style="font-weight:600"> Daniela Correia
      </strong>
      </h1>
      <hr class="style-seven mb-0"/>
      <section id="intro">
        <div class="mb-5"><h45><i>Power BI | Data Analyst | Python</h45></div></i>
        <p class="text-center"><b>Thorough and meticulous Data Analyst passionate about helping businesses succeed.<br>
        Possessing strong technical skills rooted in substantial training in healthcare/Insurance data.</b></p>
      </section>
    </div>
  
  
<!-- Skills Section -->
  <section id="skills">
    <div class="container mb-5">
      <h3>Skills</h3>
      <hr class="style-seven"/>
      <ul class="list-inline">
        <li class="list-inline-item"><img src="static/images/powerbi_icon.png" alt="powerbi"></li>
        <li class="list-inline-item"><img src="static/images/excel_icon.png" alt="excel"></li>
        <li class="list-inline-item"><img src="static/images/python_icon.png" alt="python"></li>
        <li class="list-inline-item"><img src="static/images/django_icon.png" alt="django"></li>
        <li class="list-inline-item"><img src="http://jimkulakowski.com/web-design/img/skills-logos/html5-logo.png" alt="html5"></li>
        <li class="list-inline-item"><img src="http://jimkulakowski.com/web-design/img/skills-logos/css-logo.png" alt="css"></li>
        <li class="list-inline-item"><img src="http://jimkulakowski.com/web-design/img/skills-logos/javascript-logo.png" alt="javascript"></li>
        
      </ul>
    
    </div>
  </section>
<!-- SERVICES Section -->
  <div class="services" id="services">
    <div class="container22">
      <div class="row justify-content-md-center">
          <div class="col-md-4 col-xs-12 text-center">
              <i class="fa fa-crop" aria-hidden="true"></i>
              <h4>WEB DESIGN</h4>
              <p>Strip steak turducken kevin salami, boudin landjaeger jowl.</p>
          </div>
          <div class="col-md-4 col-xs-12 text-center">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
              <h4>DATA ANALYSIS</h4>
              <p>Strip steak turducken kevin salami, boudin landjaeger jowl.</p>
          </div>
        <div class="w-100 mb-5"></div>
          <div class="col-md-4 col-xs-12 text-center">
                <i class="fa fa-code" aria-hidden="true"></i>
                <h4>FRONTEND</h4>
                <p>Strip steak turducken kevin salami, boudin landjaeger jowl.</p>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <h4>WEBSCRAPPING</h4>
                <p>Strip steak turducken kevin salami, boudin landjaeger jowl.</p>
      </div>    
      </div>
  </div>
  </div>
  </div>
</div>

{% endblock %}